[2018-01-06 09:24] kristijanhusak opened #1 "Check import existence on multiple lines"

[2018-01-06 09:26] kristijanhusak opened #2 "Multiple partial imports"
Currently behaves like this:
[code]

Desired:
[code]

[2018-01-06 09:28] kristijanhusak opened #3 "Allow forcing `require` or `import`"

[2018-01-06 09:29] kristijanhusak opened #4 "Flag for sorting imports"

[2018-01-21 10:38] kristijanhusak commented on #3
`Import` is used by default if no other imports exists for plugin to check. To force `require` use this flag:
[code]

[2018-01-21 10:38] #3 closed

[2018-01-22 17:21] #2 closed

[2018-01-22 18:53] #4 closed

[2018-06-08 10:06] AndrewVos opened #5 "Using :JsFileImport is really slow"
I think it's because the plugin searches through `node_modules`. Maybe have an exclude path option or just ignore node_modules directly?

[2018-06-08 10:14] kristijanhusak commented on #5
Does your ctags contains tags from node_modules?
Also, do you have ripgrep (rg), or ag (silversearcher) installed?

[2018-06-08 10:44] AndrewVos commented on #5
No I have `node_modules` excluded for JS.

Nope, I don't use either. I use `git grep`. Maybe I could add support for `git grep` hmm.

[2018-06-08 10:46] AndrewVos commented on #5
Oh I see that `ag` and `rg` are only used for `JsFindUsages`. I was using `JsFileImport`.

[2018-06-08 10:50] AndrewVos commented on #5
Right, setting `wildignore` speeds things up considerably.

[code]

Thanks! Do you know of any way to set it without the full path by the way?

[2018-06-08 10:50] #5 closed

[2018-06-08 10:51] AndrewVos commented on #5
Oh and thanks for this great plugin, it's going to make life a lot easier for me!

[2018-06-08 11:11] kristijanhusak commented on #5
Adding this should work out for any project:
[code]

note the `+=`. I'm appending to the wildignore variable, and i assume you should do the same, if you have some previous values for wildignore. If you don't, i recommend you to look into it and add some stuff that you don't need. Here's how my wildignore looks:

[code]

[2018-06-08 12:34] AndrewVos commented on #5
Perfect! Thanks so much!

[2018-08-09 11:36] ivangeorgiew opened #7 "Implementing the fix imports function from the import-js project"
Hi, is it possible to implement the functionality "fix imports" from the other project here?
I went through your code and am not sure if it will be possible without major refactoring.
I like the idea of your repo, but that is the only functionality that I use from the other one.

[2018-08-09 12:39] kristijanhusak commented on #7
What exactly fix imports should do?

[2018-08-09 13:12] ivangeorgiew commented on #7
It searches your whole file for missing imports and adds them or removes unused ones. This way you can write your file and at the end fix the imports. And if you have changed the some file names of the imports or the locations, you can just delete the old ones and import the new ones with one command.

[2018-08-09 13:29] kristijanhusak commented on #7
I don't think this would require refactoring, but definetely a lot of coding. Also i'm not sure if it would be available without some AST, like import-js does it.

One problem that i see with this is that some things can be imported from multiple places. What should it do then, ask?

[2018-08-09 14:12] ivangeorgiew commented on #7
Hmm, I was seeing it like this:
1) remove unused imports
2) search for the locally undefined variables in the file and add them to a list
3) search the tags for each item in that list
  - if there is none, do nothing
  - if there is one use it
  - if there are multiple show the user, the options
4) append the imports
5) sort the imports

Obviously, step 2 is the most difficult one. If you manage t

[2018-08-09 14:43] kristijanhusak commented on #7
Yeah something like that would work, but few things are still not that easy:

1. I already have simple implementation of removing unused imports, but doesn't work on partial imports.
2. This adds an eslint dependency to the plugin.
3,4,5: Sounds ok.

I'll give it a try when i get some time, currently preparing for vacation, so i can't do much for another 2-3 weeks.

[2018-08-10 13:47] ivangeorgiew commented on #7
1. you can use eslint for that as well
2. the complication of adding this dependency is the same as adding UniversalTags

[2018-08-11 20:59] kristijanhusak commented on #7
I created initial version, it's on the `feature/fix-imports` branch. I tested it only with es5 (require). One thing that is currently missing is removing unused imports that span on multiple lines.

[code]

Eslint returns only `get` as invalid instead of whole import. I'll fix that eventually.

Also, i'm pretty much assuming that Eslint is set up on the project. Haven't tested without the setup.

[2018-08-12 21:33] kristijanhusak commented on #7
@ivangeorgiew i wrapped it up. It should properly handle both es5 and es6 imports, and properly clean even multiline imports like in example above.

Please give it a test, and if it works, i'll put it to master.

[2018-08-13 06:04] ivangeorgiew commented on #7
`Error detected while processing function jsfileimport#fix_imports#exec[44]..jsfileimport#utils#_restore_cursor_position:`
`E20: Mark not set`

This was the initial error which I fixed by changin `normal` to `normal!`
But then I received this error which I can't fix, since I don't know where it occurs:
`Vim(let):E730: using List as a String`

[2018-08-13 07:41] kristijanhusak commented on #7
I cannot reproduce the second error. Can you provide me:
1. List of imports that you are trying to fix. If possible, whole js file.
2. Eslint version
3. Are you using local installation `./node_modules/.bin/eslint` or global?
4. Eslint config

[2018-08-13 11:46] ivangeorgiew commented on #7
I just found out that this project doesn't import from `node_modules`.
Even if the fix imports command was working, the need for manually adding imports from `node_modules` renders it obsolete.
If you are not planning to add that functionality, I am sorry that I asked you to add the fix imports command.

[2018-08-13 13:39] kristijanhusak commented on #7
But it does know to import from your package.json. If you have a `lodash` dependency, trying import on `lodash` will import that.
I'll wrap this up anyway because it's good feature.

[2018-08-13 13:54] ivangeorgiew commented on #7
Oh sorry, I was wrong then.

[2018-08-15 08:02] ivangeorgiew commented on #7
The pathing for eslint may be incorrect like in my case, but even if I use the correct pathing, I receive the following error: `Vim(let):E730: using List as a String`

[2018-08-15 08:08] kristijanhusak commented on #7
@ivangeorgiew I fixed eslint path issue.
Can you give me the list of imports that you are using? Is it `import` or `require` ?

[2018-08-15 08:09] ivangeorgiew commented on #7
It is import. I forgot you mentioned, you made it work with require only right?

[2018-08-15 08:13] kristijanhusak commented on #7
No, it should work with both. I tested with both, works fine for me on linux. What os are you using?

[2018-08-15 08:54] kristijanhusak commented on #7
Please test first with this:
[code]

This is only for removing unused ones.
If you can, test with your eslint in the project, and no eslint config. Just make sure to do npm install in plugin directory before trying the second.

[2018-08-15 09:55] ivangeorgiew commented on #7
Nope still doesn't work. I even created a new folder, ran npm init in it, installed eslint locally. Still doesn't work. with the file you have provided. The error is the same.

[2018-08-15 10:35] kristijanhusak commented on #7
Does manual importing work for you? does `:echo has('python3')` return `1`?
I tried running neovim with verbose log like explained here https://stackoverflow.com/a/3026029/1474465, and then i started getting that same error, and my deoplete failed immediately because python3 doesn't exist in that case.

[2018-08-15 11:05] ivangeorgiew commented on #7
Yes, I do. Why don't you add me on skype? It will be a lot faster than typing over 9000 comments.

[2018-08-15 12:52] kristijanhusak commented on #7
Added you.

[2018-08-15 15:17] kristijanhusak opened #8 "Better matching of global imports"
allow matching by dash,snake or camel case.
package named `request-ip` should be importable with `requestip, requestIp, request_ip, RequestIp`

[2018-08-15 15:18] kristijanhusak opened #9 "Allow importing folder index.js file"
When there's index.js file in a folder, allow importing it's folder without the index.js, so `my-project/sub/folder/index.js` should be imported as `my-project/sub/folder`.

[2018-09-26 05:58] badeleux opened #11 "Multiline imports"
This block of imports after sort has syntax issues

Before:

[code]

After:
[code]

[2018-09-26 10:19] kristijanhusak commented on #11
Yeah implementation is very bare and simple, it behaves well only on full imports. Needs improvement.

[2018-12-05 18:21] rs-eytan opened #12 "Changing import directory relativity"
First of all, thank you very much for this plugin. I had a quick question on the import paths.

I would like to change the import path from

`../../../components/{import}`

to

`components/{import}`

Is this possible?

[2018-12-05 18:43] kristijanhusak commented on #9
Implemented.

[2018-12-05 18:43] #9 closed

[2018-12-05 18:43] kristijanhusak commented on #8
Implemented.

[2018-12-05 18:43] #8 closed

[2018-12-05 18:45] kristijanhusak commented on #12
No not at this moment. I'll make it configurable.

[2018-12-05 19:30] kristijanhusak commented on #12
I just added an option to do this.
Add `let g:js_file_import_from_root = 1` to your vimrc, and files will be imported relatively to your current working directory instead of current file. Give it a test and let me know if it works ok.

[2018-12-10 22:08] rs-eytan commented on #12
@kristijanhusak thank you very much. its almost perfect. right now my import looks like:

`src/constants/...`

I'd prefer it not to have the src either? Maybe I can manually set a root?

I did this locally and seem to work.

added to `plugin/vim-js-file-import.vim`

[code]

changed `jsfileimport#utils#_get_file_path(filepath) abort`

[code]

This seems to work perfectly for me but it might not be

[2018-12-11 17:59] rs-eytan commented on #12
@kristijanhusak perfect. thank you. and if you ever need help, i'll try to jump in. i'm loving the package 💯

[2018-12-11 18:02] kristijanhusak commented on #12
No problem. Closing, since it's resolved.

[2018-12-11 18:02] #12 closed

[2019-11-14 10:00] realestninja opened #13 "Option to have " instead of ' for the import line"
Hi, would it be possible to add an option for the import path to be in " instead of '? Some projects have guidelines that expect " over '. Right now I use eslint fixer everytime after doing an import but it would save some time in the long run if the import string was already the way I need it.

Example:
`import H3 from "../../typography/H3";`
instead of
`import H3 from '../../typography/H3';`

I

[2019-11-14 10:33] kristijanhusak commented on #13
Yeah sure. I'll add it.
Didn't really thought about it because i use `'` all the time.
Will keep you posted.

[2019-11-14 10:47] kristijanhusak commented on #13
@realestninja i added it.
Check this section in readme https://github.com/kristijanhusak/vim-js-file-import#using-double-quotes.

Let me know if it works.

[2019-11-14 11:11] realestninja commented on #13
Hey it works perfectly :) Thank you so much!

[2019-11-14 11:49] #13 closed

[2019-12-23 17:55] stavalfi commented on #5
this should be added to the readme.

[2019-12-23 20:04] kristijanhusak commented on #5
@stavalfi thanks for reminding. I added it: https://github.com/kristijanhusak/vim-js-file-import#performance-issues

[2019-12-23 20:10] stavalfi commented on #5
it's not just performance issue. in case the user (like me) uses lerna\yarn workspaces so node_modules has symbolic links to folders, this plugin is confused because there are 2 options for every import:

[code]

so it also fix this issue

[2019-12-23 20:12] kristijanhusak commented on #5
Didn't knew that, I use mostly npm. Thanks!

[2020-01-23 22:21] micburks opened #15 "Enable option for keeping file extension"
Thanks for all the hard work! I think this is a great tool for auto-imports. I like having the alternative to how imports are done with `deoplete`.

The one gripe I have is that I actually use file extensions in my imports. In Node's new support for ES modules, the file extension plays an important part in how the import is treated (See [Node docs](https://nodejs.org/api/esm.html#esm_enabling)).

[2020-01-24 09:58] kristijanhusak commented on #15
@micburks I added it, but i'll need you to test it to see if it works ok.
Just add this setting to vimrc:
[code]
If it works ok, let me know here and close the issue.

[2020-01-24 22:35] micburks commented on #15
Works great! Thanks for the quick turnaround. Best of luck

[2020-01-24 22:35] #15 closed

[2020-03-08 21:26] gfsd3v opened #16 "Open file in new tab"
Hi.

First of all thanks for the awesome plugin.

Is it possible to make the go to definition open the file/directory in a new tab ? Didn't found anything about this is the Docs/Issues.

Thanks in advance.

[2020-03-08 22:57] kristijanhusak commented on #16
Hi,

you can use vim built in functionality to achieve this. For example, to map it to <Leader>], you would have something like this:

[code]

Basically <C-w>T opens the same file you are editing in new tab, and then executes plugin mapping. If you would want to open in vertical split, it woult be `<C-W>v<Plug>(JsGotoDefinition)`

[2020-03-09 05:40] #16 closed

[2020-03-09 05:40] gfsd3v commented on #16
Thanks for the help, it worked like a charm (:

[2020-03-26 05:43] nkabbara commented on #5
Hi @kristijanhusak,

Anyway for me to debug why vim-js-file-import is slow? Namely, going to definitions (JsGotoDefinition) and also adding include (JsFileImport).

I have node_modules excluded from my ctags. I also have ripgrep installed. Another thing I noticed is if I do `C-]` (ctags go to definition), it's extremely fast. It's just when I do <Leader>if or <Leader>ig that things take about a se

[2020-03-26 08:22] kristijanhusak commented on #5
Hi @nkabbara,

it's best to profile it with the built in profiler. Here are the steps:

1. Open up some js file where you want to do the import or goto definition
2. execute this command `:profile start jsfileimport.log`
3. then execute `:profile func *`
4. Execute the import or goto definition
5. execute command `:profile stop`

This will create `jsfileimport.log` in your project directory. Open

[2020-03-26 17:50] nkabbara commented on #5
Hi @kristijanhusak,

Thank you for the great instructions!

I dug through [the logs](https://github.com/kristijanhusak/vim-js-file-import/files/4388673/jsfileimport.log) and from my limited experience in debugging vim, I'm leaning to think that `find` and` jsfileimport#utils#systemlist` might be part of the reason.

I ran the same find command in the project dir that JFI is running and it's taking

[2020-03-26 21:46] kristijanhusak commented on #5
@nkabbara I pushed some optimizations to the find command. Let me know if it's better. It should be since i'm excluding both .git and node_modules properly now.

[2020-03-26 22:07] nkabbara commented on #5
@kristijanhusak Thank you so much. Much faster now.

On a somewhat related note, is there a way that you know of to map `gf` to execute `JsGotoDefinition` as a fallback if it can't find the file using the standard vim way?

Thanks man.

-Nash

[2020-03-26 22:26] kristijanhusak commented on #5
@nkabbara `gf` or `<C-]>` ? `gf` is for jumping to a file path.

[code]

[2020-03-26 22:33] kristijanhusak commented on #5
@nkabbara this should do the trick:

[code]

You can do the same for `<C-]` by replacing `exe 'norm!gf'` with `exe 'tag '.expand('<cword>')`

[2020-03-26 22:34] nkabbara commented on #5
@kristijanhusak nice! Thank you again!

[2020-03-30 22:39] nkabbara opened #17 "Default Import Method or Ignore File or Dir Patterns"
Hello!

I have situation where the file select prompt is coming up when I don't want it to.

For example, I have a project where a  component definition is located is located in both, a `.js` file and a `.js.solution` file. gutentags is properly configured to ignore *.solution. But JFI provides a prompt when trying to go to definition.

I'm thinking of ways where JFI can be told not to show the pr

[2020-03-31 06:06] kristijanhusak commented on #17
There are filters that apply to the `cmd` part of the tags (Regex part), more info here https://github.com/kristijanhusak/vim-js-file-import/blob/master/doc/vim-js-file-import.txt#L271.

I assume that doesn't cover case since you need to filter out filenames, not cmd parts of the tag. Does adding that to `wildignore` maybe help?

I can introduce this additional filtering by filename since we alrea

[2020-03-31 11:12] kristijanhusak commented on #17
Can you give me an example what you get in the prompt? Does it load the matching filename, or it finds tags?
It shouldn't find the tags if they are not part of the generated ctags, so I assume it's just a matching filename.

[2020-04-01 00:17] nkabbara commented on #17
Of course.

Below is an example where when I do `<Leader>if` over `AutenticatedApp` I get the ctags and the filename in the prompt. I need a way to be able to ignore files with .solution and if possible certain directories.  Please see other example below image for why directories too.

![Ctags & File](https://user-images.githubusercontent.com/31865/78085903-9c601100-7379-11ea-9223-b7a525f67f0a.pn

[2020-04-01 09:39] kristijanhusak commented on #17
Just as I suspected.
I introduced new configuration variable, `g:js_file_import_filename_filters`.

In your case, setting it to this should do the trick:
[code]
Note that it's regex, so that's why i escaped dot and slash.

For the multiple tags, that's something you need to configure in your vimrc with `set tags`. JFI doesn't search for any tag files, it just calls internal taglist() function that

[2020-04-01 15:23] dagolinuxoid opened #18 "redundant choices"
[code]
after placing a cursor on Header and pressing `<leader>if`  I get the following:
[code]
Choosing either 1 or 2 gives the correct  `import Header from './Header';`
I'm wondering if such thing can be automated and why this is happening in the first place?

[2020-04-01 15:29] kristijanhusak commented on #18
What do you get as output when you type `:echo tagfiles()` in vim?

[2020-04-01 15:31] dagolinuxoid commented on #18
The actual output is: `['/home/linux/Documents/projects/react-way-of-samurai/tags']
PS. in the example above I used fake path

[2020-04-01 15:46] kristijanhusak commented on #18
I just pushed a fix. Issue is that your tags file is not in your currently working directory, and thus it doesn't properly exclude certain matches. Should be fixed now.

[2020-04-01 15:46] kristijanhusak commented on #17
Just a note for duplicate entries in tags, someone else also reported it and i figured it out and fixed it. Give it a try without changing your `tags` value.

[2020-04-01 15:51] dagolinuxoid commented on #18
That was *fast* !! I appreciate it. I tested it and it's working as I hoped.

[2020-04-01 15:51] #18 closed

[2020-04-01 21:37] nkabbara commented on #17
Nice! Both now working as expected! Thank you so much! You're the man!

[2020-04-01 21:38] kristijanhusak commented on #17
Great! Closing.

[2020-04-01 21:38] #17 closed

[2020-04-02 05:13] nkabbara opened #19 "Feature Request | ig goes activated on import statement."
Hi @kristijanhusak!

I was wondering if it would be possible to make `<Leader>ig` also go to the definition if it's pressed over the include statement.

For example, if I have the cursor somewhere on over import or anywhere on that line and I hit `<Leader>ig`, it would open the lib file buffer.

`imp|ort { MyComponent } from './components/lib'`

[2020-04-02 05:21] nkabbara opened #20 "Components named differently than their definition"
If I have this import:

`import DiscoverScreen from './screens/discover'`

if I hit <Leader>ig on the component below, I get 'tag not found error'. I'm guessing this is because the component in discover file is named differently than DiscoverScreen (it's a default export). Is it possivle for JFI to figure out at least to go to the file from the import statement if it's available? So in this specif

[2020-04-02 05:22] nkabbara opened #21 "Open in new tab instead of same buffer"
Hi @kristijanhusak ,

Sorry for the several requests tonight.

Is it possible to have <Leader>ig open in a new tab instead of the same buffer?

Thanks!

[2020-04-02 09:01] kristijanhusak commented on #21
There's already a resolved issue for that. https://github.com/kristijanhusak/vim-js-file-import/issues/16.

[2020-04-02 09:01] #21 closed

[2020-04-02 09:03] kristijanhusak commented on #19
I introduced passing custom word to the import/goto commands, so this is something you can do yourself. Basically:

1. Get the current line and parse the word you want to jump to
2. Execute the command with that word, in this case it would be `:JsGotoDefinition lib`

[2020-04-02 09:08] kristijanhusak commented on #20
Name of the component is too different from the actual filename.
If it would be called ScreenDiscovered, there could be a possibility to figure that out, but I think that's a bit too much. It can cause undesired results in some cases.
As I wrote in the comment here https://github.com/kristijanhusak/vim-js-file-import/issues/19#issuecomment-607718374, you can have your small parser that will figure

[2020-04-07 03:52] #20 closed

[2020-04-07 03:54] nkabbara commented on #19
@kristijanhusak when I trued something `JsGotoDefinition lib` it says trailing characters. As if it's not expecting to have an argument. Is this already implemented?

[2020-04-07 04:08] nkabbara opened #22 "Partial/Full Imports"
Hi @kristijanhusak,

I noticed when trying to import a function, say a hook, it's assuming that it's the default import. Possible to make it a partial import instead based on the export? Or at least configure the default import to always be a partial.

In the image below I want the `useAuth` import to be like so `import { useAuth } from...` when I hit `<Leader>if` over useAuth on line 12. Possible

[2020-04-07 05:21] kristijanhusak commented on #22
does `useAuth` exist in your tags file? If it does, can you give me the content of that line ? You can blur file path if needed, not really important.

[2020-04-07 05:23] kristijanhusak commented on #19
That's odd. Is `lib` a folder?
What happens if you write down `lib` into the buffer and try to go to definition in the old way?

[2020-04-08 02:39] nkabbara commented on #22
Yup.

`useAuth	/Users/nkabbara/.../src/context/auth-context.js	/^function useAuth() {$/;"	f	line:44	language:JavaScript	signature:()`

[2020-04-08 02:55] nkabbara commented on #19
Nope.

It goes there fine.

![v](https://user-images.githubusercontent.com/31865/78739671-63e0aa00-791a-11ea-9370-1d7158636d65.gif)

[2020-04-08 11:53] kristijanhusak commented on #22
Ok, and in you auth-context.js file, how is it exported?

[2020-04-08 12:00] kristijanhusak commented on #19
I can't reproduce it. Does it happen for some other words?
Also, do you have any more files or folders that are called `lib`?

I would appreciate if you would debug this. Here are the steps:
1. Find plugin in your plugins directory, open `autoload/jsfileimport.vim`, and comment out all lines that are try/catch. So basically line 28, and lines from 61 to 66. Then try to reproduce this. It should gi

[2020-04-08 22:45] nkabbara commented on #22
`export {AuthProvider as default, useAuth}`

Also tried:

`export {AuthProvider, useAuth}`

Thanks! Let me know if you need further debugging!

[2020-04-09 00:22] nkabbara commented on #19
Anytime. I commented them out, but they were on different lines for me: 58, 106 and 143.

Error is still the same. Nothing changed. I verified that the comments took effect by causing other errors and I see more detailed errors for the other valid errors.

Let me know if you need further debugging.

-Nash

[2020-04-09 00:26] nkabbara opened #23 "Potential SortJsFileImport bug"
Hi @kristijanhusak

I have prettier formatter that formats import similar to this:

[code]
SortJsFileImport sorts it like so:

[code]

This might be a pretty involved fix and it's not critical for me. I can disable sorting, but wanted to bring it to your attention.

[2020-04-09 00:30] nkabbara opened #24 "Unexpected JsGoToDefinition behavior on Unsaved files"
When you make changes to a buffer and you try to `<Leader>ig` on a component, JFI moves the cursor to the start of the line and and fails silently without a message.

To reproduce:

1. Make changes to a buffer
2. Put cursor over a component and exec JsGoToDefinition

Expected:
An error message telling me file is not saved and to save file.

What happened:

Cursor moved to column 1.

[2020-04-09 06:18] kristijanhusak commented on #23
Yeah there's already an issue for that. https://github.com/kristijanhusak/vim-js-file-import/issues/11 . I never spend a lot of time on it since it's not crucial.

[2020-04-09 06:18] #23 closed

[2020-04-09 06:20] kristijanhusak commented on #19
How are the lines different? When did you do an update last time?

Can you test with some other words?

[2020-04-09 06:48] kristijanhusak commented on #22
I didn't consider that syntax as partial export. I fixed it now. Do an update and test.

[2020-04-09 06:49] kristijanhusak commented on #24
Do you have `set hidden` in your vimrc?

[2020-04-10 01:57] nkabbara commented on #24
Nope.

0

[2020-04-10 02:10] nkabbara commented on #22
Hm, doesn't seem to be working and I have the updated version (0833c46aa157ca3553fdf8b9f555f455d474530b)

My export looks like this: `export {AuthProvider, useAuth}`. It still imports it like this: `import useAuth from './auth-context'`.

My tags file useAuth line looks like so: useAuth	`/Users/nkabbara/.../src/context/auth-context.js	/^function useAuth() {$/;"	f	line:60	language:JavaScript	signat

[2020-04-10 02:14] nkabbara commented on #19
It seems to work after the latest update. Awesome, thanks, I'll figure out how to make it detect import line and go to imported file!

[2020-04-10 02:14] #19 closed

[2020-04-10 03:06] nkabbara commented on #19
@kristijanhusak how can I call JsGotoDefinition(filename) in vimrc with the context of the current buffer?

The pseudocode for what I'm thinking:

function! LoadImportFileUnderCursor(currentLine)
   "parse out the path from currentLine
   "assign to somevar
  JsGotoDefinition a:somevar
endfunction

[2020-04-10 05:58] kristijanhusak commented on #22
I just updated my tests to test the the same functionality.
Your ctags syntax is strange, are you using `universal ctags` ?

What is the output of this for you:
`echo taglist('^useAuth$')`

[2020-04-10 06:00] kristijanhusak commented on #24
You must have it set `hidden` to make it work. Same will happen to you if you use build in tag jumping functionality.

[2020-04-10 11:52] kristijanhusak commented on #19
Assuming your line looks something like this:
[code]

Something like this should do the trick:
[code]
Haven't tested it though, so adjust accordingly if needed.

[2020-04-10 22:00] nkabbara commented on #24
Hi @kristijanhusak,

Yes, that is if I wanted the hidden behavior. I think if a user has set it to false, they would expect the same behavior as when trying to leave the buffer to another one with unsaved changers. i.e. a message asking them to save the buffer.

Currently JFI fails silently.

[2020-04-10 22:10] nkabbara commented on #22
Yes, but it could be due to the fields option below. I forgot why I had to add that at some point. Anywa, I commented that out and tried again and still it failed to add braces.

[code]

With the ctags_extra_args above:
[code]

Without the ctags_extra_args above:
[code]

[2020-04-10 22:10] nkabbara commented on #19
Thank you so much! I'll give it a try later.

[2020-04-12 12:36] kristijanhusak commented on #24
Makes sense. I fixed it.

[2020-04-12 12:44] kristijanhusak commented on #22
[partial-project.zip](https://github.com/kristijanhusak/vim-js-file-import/files/4466332/partial-project.zip)

Here's a sample project where i tried to simulate your code.
Try to import useAuth here in `auth-context.js` and let me know if it works or not.

[2020-04-14 03:48] nkabbara commented on #24
Awesome! Works great!

[2020-04-14 03:48] #24 closed

[2020-04-15 03:51] nkabbara commented on #22
Works fine with the ctags you provided. Does not work with my ctags.

Also, it works with my ctags when exporting functions in their declaration like so:

[code]

But does not work if the export like `export { AuthProvider as default, useAuth }
`

Does that give any clues as to what might be happening?

[2020-04-15 05:30] kristijanhusak commented on #22
Please attach your version of tags

[2020-04-16 03:13] nkabbara commented on #22
Attached!

[tags.txt](https://github.com/kristijanhusak/vim-js-file-import/files/4484696/tags.txt)

side note: when cursor is over the parenthesis, ie `useAuth(|)`, you get the error below. I'm thinking JSF should be hook aware. Let me know if you'd like me to open a separate issue with this.

<img width="688" alt="Screen Shot 2020-04-15 at 10 11 29 PM" src="https://user-images.githubusercontent.c

[2020-04-16 08:18] kristijanhusak commented on #22
Problem is that paths in the ctags are absolute, and not relative. I fixed it.
Is there any specific reason why you add these additional arguments to ctags to generate different format?

Not sure what you mean by hook aware, but I assume you think that it should figure out the import in the parentheses. JSF is using vim's built in `expand('<cword>`)` to get the word under cursor, which in this cas

[2020-04-16 13:41] nkabbara commented on #22
Nice!!! Thank you!

At one point it was required by some plugin, but I had since removed it and kept the settings. But the reason behind absolute paths, is because I configured my tags to be stored in a central instead of project dir (gutentags_cache_dir).

No worries! Not a big deal.

Thanks again and have great week!

[2020-04-16 13:41] #22 closed

[2020-05-11 16:48] alextes opened #25 "Using more shallow imports when possible"
In the case of yarn workspaces, packages often require code from one another. So if we have a `module-b` like so:
`module-b/index.js`:
[code]

`module-a` might require this function simply by writing:
[code]

This works because yarn manages these modules and has created a symlink in `node_modules` like so `/node_modules/module-b -> ../module-b`.

However, when importing something from module-b, fr

[2020-05-11 19:13] kristijanhusak commented on #25
Do you even get a "shallow" option when you force import list, or you only get the one deeper?

[2020-09-20 00:29] KingOfCramers opened #27 "Importing useRef"
Hello, installed the package with Plug and everything seems to be OK, but I'm getting the fallback message when trying to import a simple `useRef` hook from React.

[code]

Is there a way that I've got to specify pulling from outside dependencies when the module is not in the current folder, or is that not possible? This also happens when I'm trying to import other modules, like ```moment.js```

T

[2020-09-20 07:08] kristijanhusak commented on #27
Hi,

only things that are part of the tags file can be imported automatically. No javascript is being read or parsed.
Importing react would work because it's defined in package.json as dependency, but things that are exported from inside of dependency are not generated in tags file, thus not automatically importable.

For these situations you can just type in react, and after it prompts for full o

[2020-10-19 11:34] #25 closed

[2020-10-24 20:30] coaxial opened #29 "Can't ever find any file or package to import from"
I followed the instructions by installing universal-stags on Ubuntu 20.04 (using a snap) and adding these to my .vimrc:

[code]

Now when I go into a `.ts` file, and I do `leader if` on a symbol that isn't imported yet, the plugin never ever finds the symbol and prompts me for the path. And after I enter the path, for instance `./app.component`, it then goes and clobbers it all to insert `../../..

[2020-10-24 21:02] kristijanhusak commented on #29
Are you able to jump to any tag with Ctrl + ] ?

[2020-10-25 06:54] coaxial commented on #29
For some symbols, yes. For others, I get `E426: tag not found: <the symbol>`.

[2020-10-25 07:06] kristijanhusak commented on #29
Are you able to import those symbols thay are found?

[2020-10-25 07:17] coaxial commented on #29
Sort of. Some of the symbols exported by a package, it can find (but gives me a list with cryptic entries when there really isn't one export with that name in the package), and then instead of importing from `'package'`, it inserts `../../../../node_modules/package/deep/deeper/symbol` rather than `'package'`.

[2020-10-25 07:36] kristijanhusak commented on #29
It lists everything that it finds in the tags file. You should not generate tags for the `node_modules`. Add `let g:gutentags_ctags_exclude = ['node_modules']` to your vimrc, restart Vim and run `:GutentagsUpdate!`, then give it another try.
When prompted for import, choose the one from package.json.
Note that this plugin doesn't do any parsing of the JS or anything, it just relies on the tags fil

[2020-10-25 09:42] coaxial commented on #29
Alright, thank you!

[2020-10-25 09:42] #29 closed

[2020-10-27 09:04] #27 closed

[2020-11-25 20:25] timsofteng opened #30 "Vue supporting"
Hello. Does this plugin work with vue and with alias paths as '@/сomponents/example'?
Thanks.

[2020-11-27 15:14] kristijanhusak commented on #30
I don't think Vue is supported, never tried it. Alias paths doesn't work by default, you can set something up with this https://github.com/kristijanhusak/vim-js-file-import/blob/master/doc/vim-js-file-import.txt#L209

[2020-11-27 16:02] kristijanhusak commented on #30
I added support for Vue, but it is not working 100% ok like for regular js.
1. It doesn't handle alias paths
2. If there aren't any imports in the file, and when you try to import the first thing, it will import it at 1st line. It is not aware of the `<script>` tag
3. Probably more issues, wasn't able to catch it.

So it's more-less working, but nothing fancy.

[2020-11-28 12:00] timsofteng commented on #30
Thanks for fast response.
Is it any way to fix this issues?

[2020-11-28 14:02] kristijanhusak commented on #30
Yeah, 2. should be fairly easy. For 1, where does configuration for this lives? Is that a webpack thing or?

[2020-11-28 15:34] kristijanhusak commented on #30
@timsofteng I added some better support for Vue, but I wasn't able to test it in the real life project, since I don't develop in vue. I used this https://github.com/gothinkster/vue-realworld-example-app for testing.

Check this part of readme https://github.com/kristijanhusak/vim-js-file-import#vue-support , and give it a test to see how it works.

[2020-11-29 15:35] timsofteng commented on #30
Thanks. I'll test it tomorrow.
By the way could I use go to file feature (gf) with this plugin?

[2020-11-29 16:46] kristijanhusak commented on #30
You can use jump to definition via `<Plug>(JsGotoDefinition)`, if that's what you are talking about.

[2020-12-18 09:58] whatever555 opened #31 "Can't open file /tmp/{folder}/{number}"
When I run <leader>if i get some variation of following error message in vim:
`Vim(let):E484: Can't open file /tmp/vSuL01s/5`

It seems that the subfolder it is looking for does not exist:
![image](https://user-images.githubusercontent.com/1413475/102600918-58838680-4117-11eb-90c1-cf0065054528.png)

I've tried setting my shell to `bash`, `zsh` and `sh` in my `.vimrc` file

[2020-12-18 10:05] kristijanhusak commented on #31
Your working directory is `/tmp`?

[2020-12-18 10:27] whatever555 commented on #31
working directory is /home/(user}/dev/{projectname}/

[2020-12-18 10:29] kristijanhusak commented on #31
I'm not doing anything with tmp folder. Can you check your `tags` file to see if it has reference to these files in tmp folder?

[2020-12-18 10:49] whatever555 commented on #31
I've tried deleting my tags file and the error still occurs.
It seems very similar to this error (although i am on ubuntu, not windows) and looks to be caused by some shell setting :thinking: https://github.com/google/vim-codefmt/issues/106

Another similar issue posted here: https://badsimplicity.com/2013/11/05/vim-fish-e484-cant-open-file-tmpvrdnvqe0-error/

[2020-12-18 10:56] whatever555 commented on #31
I think it could be related to this line where the shell is set to sh: https://github.com/kristijanhusak/vim-js-file-import/blob/master/autoload/jsfileimport/utils.vim#L229
Will try investigate a little now

[2020-12-18 11:48] whatever555 commented on #31
some further info:
I am generating my tags file using gutentags. I can't seem to find any direct reference to the /tmp folder there...

It is failing on this line: https://github.com/kristijanhusak/vim-js-file-import/blob/master/autoload/jsfileimport.vim#L127
the l:rgx variable is =
[code]
tag_fn_name =
`jsfileimport#tags#_get_tag`
a:name =
`Reset`
a:show list =
`0`

[2020-12-18 12:19] whatever555 commented on #31
replacing this line https://github.com/kristijanhusak/vim-js-file-import/blob/master/autoload/jsfileimport/utils.vim#L186

with:
[code]
makes it functional

[2020-12-18 13:54] kristijanhusak commented on #31
You are using fish shell?

[2020-12-18 16:14] kristijanhusak commented on #31
I figured it out. There was an extra double quote for silversearcher-ag call that I introduced with recent changes. I fixed it. Please pull latest changes and give it a try.

Thanks for debugging it, it helped a lot.

[2020-12-18 18:31] whatever555 commented on #31
:+1:  I'll give it another go later. Thanks!

[2020-12-20 08:10] whatever555 commented on #31
Seems to be working well! Cheers :+1:

[2020-12-20 08:10] #31 closed

[2021-01-05 17:16] #30 closed

[2021-03-25 08:51] panosl commented on #11
(Just started using this plugin, **greatk work** @kristijanhusak!

Maybe it makes sense to remove the sorting functionality, since it has been superseded by other plugins and make the core functionality simpler to manage?

[2021-03-25 09:41] kristijanhusak commented on #11
Hey @panosl,

I agree that it's nowhere near perfect, but why would we remove it?

It's not being used unless specifically requested to via mapping or a opt in variable.

[2021-03-25 10:02] panosl commented on #11
I'm not saying you should. It just feels like it's outside of the core functionality of `vim-js-file-import`. Unless you plan to improve it further.

p.s. Still the automatic import functionality works like a charm, really happy that I stumbled on this. I was so jealous when I saw it on VS Code!

[2021-03-25 10:15] kristijanhusak commented on #11
Yeah it's not it's main functionality. I added it for my needs, since I work with some old node js applications that still use commonjs, and I didn't found any plugin or lsp that would sort require's properly.

I think this even handles some cases that VS code cannot handle :)

[2021-04-15 09:47] hoschi opened #32 "Node.js ESM not supported"
Or do I miss something perhaps?

Considering the following file `src/browser.mjs`:
[code]

and another file `src/bin.mjs`:
[code]

Running `JsFileImport` creates:
`import initBrowser from './browser';`
instead of correct:
`import {initBrowser} from './browser.mjs';`

Running `JsFixImports` gives just an error: `Vim(let):E474: Attempt to decode a blank string`

I updated the plugin minutes ago. Tag

[2021-04-15 09:51] kristijanhusak commented on #32
mjs is not supported at this moment. It should be a simple fix.

[2021-04-18 16:10] #32 closed

[2021-04-18 16:11] kristijanhusak commented on #32
I pushed a support for mjs + fix for the import.

Fix imports were not working because eslint was a bit outdated.

Please pull latest changes, do `npm install` in the plugin directory and give it another test.

[2021-04-19 15:51] hoschi commented on #32
Better! It still creates imports without file extension `import initBrowser from './browser';` instead of `./browser.js`.

[2021-04-19 15:53] hoschi commented on #32
I also found out that you just can add `"type": "module"` in your `package.json` to keep normal `.js` files. So supporting `.mjs` is probably not worth the time.

[2021-04-19 16:07] kristijanhusak commented on #32
You can add this to your vimrc to make it import with extension:
[code]

[2021-06-07 18:22] samchan0221 opened #34 "weird suggestion list when importing some simple methods"
[code]

When I try to import useEffect form 'react', the list turns out to be like that:
![image](https://user-images.githubusercontent.com/36394128/121069670-5534a200-c800-11eb-9326-4c511a0f7783.png)

[2021-06-07 20:51] kristijanhusak commented on #34
How are you generating tsgs file? If you use gutentags, add node_modules and .next folder to wildignore.

[2021-06-11 06:17] samchan0221 commented on #34
I have `:set wildignore+=*/node_modules/*,*/.next/*`
but they are still here.

[2021-06-11 06:27] kristijanhusak commented on #34
I'm having these for node_modules:
[code]
And it works.

Are you using gutentags? Because it picks up these settings. If you do it manually, it does not respect these settings.

[2021-06-11 06:34] samchan0221 commented on #34
Yes I'm using gutentags, I followed your wildignore and those wrong suggestions went away. However it still won't find the 'react' module for me so I have to type myself :$
![image](https://user-images.githubusercontent.com/36394128/121641738-277e8000-cac2-11eb-8c1d-11a5533ec046.png)

[2021-06-11 09:53] kristijanhusak commented on #34
This package is limited to what's in the `tags` file, which means that anything that's in `node_modules` folder is not read. I explained it more briefly [here](https://github.com/kristijanhusak/vim-js-file-import/issues/27#issuecomment-695754078)

[2021-06-11 12:01] samchan0221 commented on #34
I see, so I'd better use LSP for this kind of import. Thank you anyways, it is still a good plugin.

[2021-06-11 12:01] #34 closed

[2021-09-25 13:20] nyngwang opened #36 "Could you support nextjs?"
Given:

[code]

Got:

[code]

But I expect:

[code]

[2021-09-25 13:32] kristijanhusak commented on #36
Is this `next` folder from the 2nd screenshot in node modules or in the root?

[2021-09-26 02:27] nyngwang commented on #36
Yes, the `node_modules/` is a children folder of my project folder.

[2021-09-26 06:41] kristijanhusak commented on #36
This plugin ia not really able to handle node module files. You should be able to handle this with LSP auto import.

[2021-11-18 16:06] alexhwoods opened #37 "Key does not exist for 'telescope .actions': get_selected_entry"
Nice work on this plugin, it's awesome!

I have an import with 2 tags, using the default UI works fine
[code]

But with telescope, when I select an entry, I get this
[code]

- nvim version v0.5.1
- `:PlugSnapshot` shows that I have commit `7294924` for telescope, and commit `2bc10f` for vim-js-file-import.
- MacOS Big Sur, 11.2 (Apple M1)

[2021-11-19 10:10] kristijanhusak commented on #37
I haven't used telescope in a while, so it's probably outdated. I'll take a look.

[2021-11-20 19:27] #37 closed

[2021-11-20 19:27] kristijanhusak commented on #37
Should be fixed now.

[2021-11-23 16:11] alexhwoods commented on #37
Sweet, taking a look 😃

[2021-11-23 16:19] alexhwoods commented on #37
Yep, you got it.

Thank you!

[2022-03-30 09:46] trsdln opened #38 "Incorrect import for files with names ending with `index`"
While trying to import from `./helpers/get-next-index.js` produces `import { getNextIndex } from "./helpers"`, but expected `import { getNextIndex } from "./helpers/get-next-index"`.

[2022-05-17 19:04] pkail opened #40 "Takes 30 seconds. Cannot find package."
After a delay of about 30 seconds, I get a message saying 'no tag found for word .... '.  I have tried this with various packages.  When I follow the prompts it inserts the import statement properly.

I installed Universal ctags using both the instructions which were given and using Snap.  The only difference is that with Snap, I also get an error saying that gutentags failed.

[2022-06-18 16:39] pkail commented on #40
This issue still hasn't been resolved, unfortunately.

[2022-06-19 13:05] kristijanhusak commented on #40
Did you try any of the [Performance tips](https://github.com/kristijanhusak/vim-js-file-import#performance-issues)? I'm assuming it takes so long for you because your node_modules are indexed.
On the other side, if there is a match, even after 30 seconds you should get something. Can you open up your `ctags` file and verify that the thing you are trying to import exists?

[2022-06-19 13:12] #38 closed

[2022-06-19 13:13] kristijanhusak commented on #38
Should be fixed now. Thanks for reporting.

[2022-07-02 18:28] pkail commented on #40
Thanks for your help.  I did do this.  However, I still can't get it to work, unfortunately.

The installation instructions suggest that you just need to install ctags and gutentags.  I found that I needed to manually generate a ctags file because gutentags failed to do so.   Ctags generated an endless stream of disk activity and error messages.  However, I still couldn't get the import to work.

[2022-08-10 06:33] kristijanhusak commented on #40
Did you try installing https://snapcraft.io/universal-ctags ?

[2022-08-10 14:39] pkail commented on #40
I did.  I actually tried a couple of different installations of ctags.

[2022-08-10 14:41] kristijanhusak commented on #40
I'm not sure what's the problem, but it seems it's related only to ctags. Once you manage to run `ctags -R .` in your project and get a `tags` file that looks correct and not too big, you should be good to go.

[2022-08-10 14:50] pkail commented on #40
Thanks. I've done that, but my experience has been either that the ctags file is gigantic and imports don't work or that it's been a reasonable size, but imports still don't work.  I'll have another go: it would be great to get this working!

[2022-09-24 07:33] #40 closed